[submodule "scripts/docker-compose_bash-scripts"]
	path = scripts/docker-compose_bash-scripts
	url = https://github.com/styyle14/docker-compose_bash-scripts.git
[submodule "docker-compose/docker-synapse_docker-compose"]
	path = docker-compose/docker-synapse_docker-compose
	url = https://github.com/styyle14/docker-synapse_docker-compose.git
